
body{
    background-color: #E6D4BA;
    font-family:Shippori Mincho ;
}
.header
{
    position:fixed;
    height: 60px;
    display: grid;
    grid-template-columns: 200px 560px 1fr ;
    z-index: 150;
}
.start
{
   
}
.middle
{
    position: relative;
    padding-top: 14px;
}
.find
{
    position: absolute;
    margin-left: 10px;
    margin-top: 6px;
    margin-left: -2;
    opacity: 0.5;
}
.enterSpace
{

    background-color: #f4ebdd;
    width: 250px;
    height: 25px;
    border: none;
    border-radius: 15px;
    padding-left: 40px;
    padding-top: 3px;
    
}
.end
{
    padding-left: 300px;
    padding-top: 5px;
}
.ava_menu
{
    background-color: #f4ebdd;
    position: relative;
    display: grid;
    grid-template-columns: 50px 80px 1fr;
    width: 170px;
    height: 40px;
    border-radius: 17px;
    padding-left: 6px;
    padding-top: 4px;
}
.ava{
    background-color: blue;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 12px;
}
.account_name
{
    margin-top: 3px;
    font-size: 13px;
    line-height: 14px;
    font-weight: 600;
}
.drop_down_menu
{
    position: absolute;
    margin-top: 8px;
    z-index: 100;
    margin-top: 10px;
    margin-left: 140px;
}
.drop_down_menu:hover
{
    opacity: 0.5;
    cursor: pointer;
}
.container
{
    padding-top: 61px;
    display: grid;
    grid-template-columns: 200px 1fr;
}
.white_container
{
    display: grid;
    position: relative;
    padding-top: 50px;
    margin-left: 200px;
    align-content: center;
    background-color: #F8F7EC;
    width: 1055px;
    border-radius: 20px;
    padding-bottom: 20px;
    row-gap: 20px; 
}

.white_container2 {
    position: absolute;
    background-color: #F8F7EC;
    width: 1055px;
    height: 550px;
    border-radius: 20px;
    z-index: 50;
}
.book
{
    display: grid;
    width: 250px;
    height: 210px;
    z-index: 100;
    margin-top: 10px;
}
.book_cover
{
    display: inline;
    margin-left: 70px;
    
}
.title
{
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
    margin-top: 10px;
}
.book_cover{
    box-shadow:-5px 1px 10px rgba(148, 146, 146,1);
    position: relative;
}
.book_cover:hover{
    cursor: pointer;
}
.name
{
    display: inline-block;
    margin-left: 67px;
    text-align: left;
    width: 127px;
    color: rgb(24, 150, 195);
    font-size: 16px;
    font-weight: 600;
}
.name:hover{
    text-decoration: underline;
    cursor: pointer;
}
.author
{
    display: inline-block;
    margin-left: 67px;
    text-align: left;
    width: 127px;
    font-size: 13px;

}
.see_all
{
    display: inline-block;
    border: none;
    margin-left: 530px;
    margin-top: 19px;
    background-color: #F8F7EC;
    color: rgb(34, 184, 192);
}
.see_all:hover{
    text-decoration: underline;
    cursor: pointer;
}
.menu
{
    position: fixed;
    padding-left: 15px;
    padding-top: 14px;
    background-color:#E6D4BA;
    height: 565px;
    display: grid;
    grid-template-rows: 50px 50px 50px 1fr ;
    grid-row-gap: 5px;
    justify-content: center;
    margin-left: -15px;
}
.menu button
{
    display: flex;
    align-items: center;
    border: none;
    width: 170px;
    font-size: 15px;
    text-align: left;
    padding-left: 20px;
    border-radius: 20px;
    background-color: #E6D4BA;
    gap: 10px;
    font-family:Shippori Mincho;
    font-weight: 700;

}
.menu button:hover
{
    background-color: #F8F7EC;
    cursor: pointer;
}
.log_out_button
{
    height: 50px;
    margin-top: 250px;
}

.genre_end
{
    display: grid;
    grid-template-columns:200px 200px 200px 200px 200px;
}

.enterSpace:focus
{
    outline: none; 
    border: none; 
}
.ava-dropdown
{
    margin-left: -132px;
    margin-top: 40px;
    z-index: 1;
}
.ava-dropdown button
{
    width: 167px;
    padding: 8px;
    border: none;
    background-color: #f5ebde;
    text-align: left;
    padding-left: 20px;
    font-family: Shippori Mincho;
    font-weight: 700;
}
.change-password
{
    border-radius: 0px 0px 10px 10px;
    border-top: 3px solid rgb(57, 50, 50);
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.profile
{
    border-radius: 5px 5px 0px 0px;
}
.ava-dropdown button:hover
{
    background-color: #5c829d;
    color: white;
}


.name {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}



.top-dashboard
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 930px;
    margin-left: 60px;
    column-gap: 40px;
    z-index: 100;
}
.book-number,.genre-number,.issued-number,.overdue-number
{
    background-color: #89b4d3;
    height: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    padding-top: 20px;
    color: #3f352c;
    border-radius: 20px;
}
.number
{
    margin-top: 30px;
    font-size: 40px;
    color: white;
}
.filterDropdown
{
    z-index: 300;
    display: block;
    width: 300px;
}
.issued-book-table
{
    display: block;
    z-index: 300;
    text-align: left;
    overflow-y: auto; /* Thiết lập cuộn dọc khi nội dung vượt quá kích thước của phần tử */
    max-height: 500px;
    margin-top: 10px;
}
#issuedBookTable
{
    width: 90%;
    margin-left: 60px;
    margin-top: 0px;
    background-color: #5d5248;
    color: #ffffff;
    
}
.filterDropdown
{
    margin-left: 400px;
    margin-top: -20px;
    border: none;
    background-color: #eadfd1;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
}
.searchTitle
{
    z-index: 200;
    display: inline-block;
    width: 200px;
    margin-left: 60px;
    font-weight: 700;
}

.userSearch
{
    margin-left: 60px;
    margin-top: -10px;
    width: 300px;
    border: none;
    background-color: #eadfd1;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    z-index: 200;
    display: inline-block;
}
.addUser
{
    z-index: 200;
    position: inherit;
    /* right: 60px; */
    /* top: 80px; */
    padding: 6px 10px;
    border: none;
    background-color: #5c829d;
    color: #fff;
    border-radius: 4px;
}
.addUser:hover
{
    cursor: pointer;
    opacity: 0.75;
}
.middle-dashboard,.middle-dashboard2
{

    margin-top: 60px;
    z-index: 100;
    background-color: #70635c;
    margin-left: 70px;
    width: 920px;
    overflow-y: auto; /* Thiết lập cuộn dọc khi nội dung vượt quá kích thước của phần tử */
    max-height: 150px;
}
#Today-dues,#Tomorrow-dues
{
    color: #ffffff;
    width: 100%;  
}
.table-title
{
    color: #514141;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    margin-top: -40px;
}
.chart
{
    margin-top: 40px;
    width: 1000px;
    height: 450px;
    border-radius: 10px;
    padding-left: 90px;
    z-index: 200;
}
.myChart
{
    z-index: 200;
}

.add-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
}