html,
body {
    background-color: #E6D4BA;
    font-family: Shippori Mincho;
}

.header {
    position: fixed;
    height: 60px;
    display: grid;
    grid-template-columns: 200px 560px 1fr;
    z-index: 150;
}

.start {}

.middle {
    position: relative;
    padding-top: 14px;
}

.find {
    position: absolute;
    margin-left: 10px;
    margin-top: 6px;
    margin-left: -2;
    opacity: 0.5;
}

.enterSpace {

    background-color: #f4ebdd;
    width: 250px;
    height: 25px;
    border: none;
    border-radius: 15px;
    padding-left: 40px;
    padding-top: 3px;

}

.end {
    padding-left: 300px;
    padding-top: 5px;
}

.ava_menu {
    background-color: #f4ebdd;
    position: relative;
    display: grid;
    grid-template-columns: 50px 80px 1fr;
    width: 170px;
    height: 40px;
    border-radius: 17px;
    padding-left: 6px;
    padding-top: 4px;
}

.ava {
    background-color: blue;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 12px;
}

.account_name {
    margin-top: 3px;
    font-size: 13px;
    line-height: 14px;
    font-weight: 600;
}

.drop_down_menu {
    position: absolute;
    margin-top: 8px;
    z-index: 100;
    margin-top: 10px;
    margin-left: 140px;
}

.drop_down_menu:hover {
    opacity: 0.5;
    cursor: pointer;
}

.container {
    padding-top: 61px;
    max-height: 1000px;
    min-height: 90%;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.white_container {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    /* padding-top: 50px; */
    margin-left: 200px;
    align-content: center;
    background-color: #F8F7EC;
    width: 1055px;
    border-radius: 20px;
    padding-bottom: 20px;
    row-gap: 20px;
    /* display: grid;
    grid-template-columns: 400px 1fr; */
}

.profile-left {
    padding-left: 100px;
    padding-top: 50px;
    z-index: 70;
}

.user-ava {
    margin-top: 30px;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.change-photo {
    margin-top: 20px;
    margin-left: 46px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #ece1d3;
    padding: 10px;
    font-weight: 700;
    color: #392c21;
}

.edit,
.cancel,
.save {
    margin-left: 43px;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    background-color: #616a8d;
    padding: 10px 50px;
    color: #F8F7EC;
}

.edit {
    margin-left: 27px;
    margin-top: 50px;
    position: relative;
}

.cancel,
.save {
    display: inline;
    margin-top: 50px;
}

.save {
    margin-left: -33px;
}

.cancel {
    /* margin-left: 140px; */
    background-color: #9c6767;
}

.profile-right {
    padding-top: 50px;
    padding-left: 50px;
    z-index: 70;
}

.right-top,
.right-top2 {
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-bottom: 30px;
    /* width: 800px; */
}

.right-top2 {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-left: 190px;
    z-index: 70;
    font-size: 20px;
    padding-top: 30px;
    width: 100%;
    /* padding-right: 30%; */
}

.profile-title {
    margin-bottom: 30px;
    font-weight: 700;
}

.profile-title2 {
    margin-top: 50px;
    font-weight: 700;
}

.profile-first-name,
.profile-last-name,
.profile-age,
.profile-gender,
.profile-email,
.profile-phoneNumber {
    margin-bottom: 30px;
    height: 20px;
}

.infor-panel {
    display: inline-grid;
}

.infor-input-panel,
.infor-input-panel2 {
    position:relative;
    /* margin-left: 150px; */
    /* margin-top: 5px; */
}

.current-pass,
.new-pass,
.confirm-pass {
    display: block;
    margin-top: 45px;
    height: 27px;
    width: 400px;
    background-color: #F8F7EC;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #E6D4BA;
    font-family: Shippori Mincho;
    font-size: 20px;
}

.infor-input-panel2 {
    margin-left: -80px;
    position: relative;
    z-index: 70;
    margin-top: 4px;
}

.change {
    z-index: 70;
    display: table-cell;
    position: relative;
    padding: 20px 60px;
    align-self: center;
    /* margin-top: 380px; */
    margin-left: 39%;
    border: none;
    border-radius: 15px;
    background-color: #616a8d;
    color: rgb(253, 253, 253);
    font-size: 20px;
}

.change:hover,
.edit:hover,
.save:hover,
.cancel:hover,
.change-photo:hover,
.save-ava:hover,
.cancel-ava:hover {
    cursor: pointer;
    opacity: 0.75;
}

.input-name,
.input-gender,
.input-phoneNumber,
.input-email,
.input-first-name,
.input-last-name,
.input-age {
    display: block;
    margin-bottom: 24px;
    height: 25px;
    width: 300px;
    background-color: #F8F7EC;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #E6D4BA;
    font-family: Shippori Mincho;
    font-size: 15px;
}

.input-name:focus,
.input-gender:focus,
.input-phoneNumber:focus,
.input-email:focus,
.current-pass:focus,
.new-pass:focus,
.confirm-pass:focus {
    outline: none;
    border-bottom-color: #616a8d;
}

.menu {
    position: fixed;
    padding-left: 15px;
    padding-top: 14px;
    background-color: #E6D4BA;
    height: 565px;
    display: grid;
    grid-template-rows: 50px 50px 50px 1fr;
    grid-row-gap: 5px;
    justify-content: center;
    margin-left: -15px;
}

.menu button {
    display: flex;
    align-items: center;
    border: none;
    width: 170px;
    font-size: 15px;
    text-align: left;
    padding-left: 20px;
    border-radius: 20px;
    background-color: #E6D4BA;
    gap: 10px;
    font-family: Shippori Mincho;
    font-weight: 700;

}

.menu button:hover {
    background-color: #F8F7EC;
    cursor: pointer;
}

.log_out_button {
    height: 50px;
    margin-top: 250px;
}

.genre_end {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
}

.enterSpace:focus {
    outline: none;
    border: none;
}

.ava-dropdown {
    margin-left: -132px;
    margin-top: 40px;
    z-index: 1;
}

.ava-dropdown button {
    width: 167px;
    padding: 8px;
    border: none;
    background-color: #f5ebde;
    text-align: left;
    padding-left: 20px;
    font-family: Shippori Mincho;
    font-weight: 700;
}

.change-password {
    border-radius: 0px 0px 10px 10px;
    border-top: 3px solid rgb(57, 50, 50);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.profile {
    border-radius: 5px 5px 0px 0px;
}

.ava-dropdown button:hover {
    background-color: #5c829d;
    color: white;
}


.name {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.change-ava {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(32, 32, 32);
    z-index: 200;
    opacity: 0.5;
    display: none;

}

.ava-panel {
    position: absolute;
    width: 550px;
    height: 600px;
    background-color: #F8F7EC;
    margin-top: -40px;
    margin-left: 150px;
    border-radius: 20px;
    z-index: 300;

    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 160px);
    padding-left: 100px;
    padding-top: 60px;
    display: none;
}

.cat1,
.cat2,
.cat3,
.cat4,
.cat5,
.cat6,
.cat7,
.cat8,
.cat9 {
    height: 140px;
    width: 140px;
}

.cat1:hover,
.cat2:hover,
.cat3:hover,
.cat4:hover,
.cat5:hover,
.cat6:hover,
.cat7:hover,
.cat8:hover,
.cat9:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgba(145, 148, 151, 0.425);
}

.save-ava,
.cancel-ava {
    position: absolute;
    bottom: 50px;
    left: 200px;
    padding: 10px 20px;
    border: none;
    background: #5c829d;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 700;

}

.cancel-ava {
    margin-left: 160px;
}

.ava-panel img.selected {
    border: 5px solid rgb(87, 119, 153);
}