/* toast */

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
    padding-bottom: 1%;
  }
  
  .toast {
    align-items: baseline;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: #fff;
    border-radius: 2px;
    min-width: 400px;
    max-width: 450px;
    border-left: 12px solid;
    padding-left: 5px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
  }

.toast__body {
  padding-left: 4%;
  position: relative;
}

.toast__close {
  padding-right: 5%;
  position: relative;
}

.toast__title {
  margin-bottom: 10px;
  margin-top: 0px;
}

.toast__close {
  padding-left: 15%;
}

.success, .toast--success {
  color: green;
}

.error, .toast--error, .info {
  color: red;
}